@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.App {
  text-align: center;
  padding: 2% 5%;
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

body {
  background-color: #1B1D24;
  /* #778DA9 */
  color: rgb(216, 213, 213);
}

.main-heading {
  text-align: left;
  color: #0376E3;
}

p {
  margin: 5px 0;
}

.display-none {
  display: none;
}

.showSuggestions {
  display: block;
}

input[type="text"], input[type="number"] {
  padding: 4px 10px;
  /* border-radius: 4px; */
  outline: none;
  border: none;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  background-color: #1B1D24;
}

.city {
  width: 100%;
  color: rgb(216, 213, 213);
}

.CitySearch {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  max-width: 450px;
  margin: 0 auto;
  position: relative;
}

.search-wrapper {
  display: flex;
  flex-wrap: nowrap;
  background-color: #1B1D24;
  border: 1px solid #30333A;
  border-radius: 4px;
}

.search-icon {
  align-self: center;
  margin-left: 5px;
}

.suggestions {
  color: #1B1D24;
  width: 100%;
  /* position: absolute; */
  z-index: 2;
  align-self: center;
  margin: 0;
  top: 43px;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions>li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions>li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions>li:hover {
  background-color: #bcdcdb;
}

.number-of-events {
  max-width: 450px;
  margin: 0 auto;
}

.number-input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* flex-basis: 300px; */
  max-width: 450px;
  margin-top: 30px;
}

#input-number {
  border: 1px solid #30333A;
  border-radius: 4px;
  color: rgb(216, 213, 213);
  width: 100px;
  margin-left: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  column-gap: 35px;
  max-width: 80%;
  margin: auto;
}

.EventList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: center;
}

.event, .modal-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 30px;
  text-align: left;
  /* border: 1px solid rgb(122, 122, 122); */
  border-radius: 4px;
  height: 250px;
  background-color: #1B1D24;
  padding-left: 20px;
  width: 420px;
}

.event-title {
  margin-top: 10px;
  margin-bottom: 0;
}

.event-start, .event-location, .modal-event-start, .modal-event-location {
  font-size: smaller;
  color: rgb(122, 122, 122);
}

.location-container, .modal-location-container {
  display: flex;
  flex-flow: nowrap row;
  /* align-items: center; */
}

.event-location, .modal-event-location {
  margin-left: 5px;
}

.toggle-details {
  background-color: #1E2127;
  cursor: pointer;
  width: 150px;
  padding: 8px 8px;
  margin-bottom: 5px;
  border-radius: 4px;
  outline: none;
  width: 90%;
  border: 1px solid #30333A;
  color: #BEC2CC;
}

.event-details {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  /* background-color: rgba(29, 60, 94, 0.85); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-container {
  min-width: 400px;
  width: 50vw;
  height: 50vh;
  border-radius: 4px;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.modal-event-text-section {
  width: 90%;
}

.modal-event-title {
  margin: 0;
}

.modal-event-description {
  width: 90%;
}

.modal-exit-button {
  margin: 0 10px 0 auto;
  color: #F5F5F5;
  border-radius: 50%;
  padding: 6px 6px;
  background-color: #1B1D24;
  cursor: pointer;
  outline: none;
  border: none;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.going, .visibility {
  font-style: italic;
}

.description {
  overflow-x: hidden;
}

.numberOfEvents {
  width: 200px;
  margin: 20px auto;
  text-align: center;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.Alert {
  /* position: fixed;
  top: 20px; */
  height: auto;
  padding-bottom: 1rem;
}

.data-vis-wrapper, .list-wrapper, .modal-content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1E2127;
  border-radius: 4px;
  box-shadow: -2px 2px 2px 4px rgba(0, 0, 0, .2);
  margin-bottom: 30px;
}

.data-vis-wrapper, .recharts-responsive-container {
  min-width: 100%;
  display: flex;
}

.recharts-surface {
  overflow: visible;
}

.login-button {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949;
  display: inline-block;
  transition: all 0.4s ease 0s;
  min-width: 10rem;
  margin: 1rem;
}

.modal-event-link {
  width: 60%;
  height: 42px;
  margin: 1rem;
  background-color: #4285f4;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  text-decoration: inherit;
  color: #F0F4EF;
  /* font-weight: bold; */
  border: 1px solid #F0F4EF;
  border-radius: 4px;
  padding: 10px 20px;
  text-align: center;
}

.modal-event-link:hover {
  box-shadow: 0 0 6px #4285f4;
}

.modal-event-link:active {
  background: #1669f2;
}

.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}

.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: -8px;
  width: 18px;
  height: 18px;
}

.btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}

@media only screen and (max-width: 576px) {
  .grid-container {
    margin-left: 0px;
    margin-right: 0px;
  }
}